<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AgroLinkSix</title>

  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Unna:ital@1&display=swap" rel="stylesheet">

</head>

<body>

  <!-- header -->
 

    <div class="container-fluid">
      <nav class="navbar navbar-expand-sm navbar-dark  fixed-top" style="background-color: #39a529; ">

        <div class="col-12 col-sm-12 col-md-5 col-lg-9 col-xl-9">
          <a class="navbar-brand" href="javascript:void(0)">AgroLinkSix</a>
        </div>

        <div class="col-12 col-sm-12 col-md-7 col-lg-3 col-xl-3">
          <div class=" navbar-collapseE" >
            <button type="button" class="btn " data-bs-toggle="modal"
                    data-bs-target="#resgistro"><a href="registrarse.html">Crea tu cuenta</a></button>
              <button class="btn"><a  href="login.html">Iniciar sesión</a></button>
          </div>
     
        </div>

    </nav>
    </div>

  


<main>


  <div class="container-fluid conTarjetas" id=" targetas" style="margin-top: 100px;">
    
<div class="row">
    


    <div class="col-lg-4 col-md-3">
      <div class="emmpleo">
        <center>
          <h2> CATEGORIAS</h2>
          <button type="submit" class="btn " th:each="categoria:${categorias}"><span th:text="${categoria.descategoria}"></span></button>           
        </center>
      </div>
    </div>
      <div class="col-lg-8 col-md-9">
     
            <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-4" th:each="freelancer:${freelancers}">
                <div class="card">
                    <center>
                      <img class="card-img-top" src="assets/img/usuario.jpg" alt="Card image" >
                    </center>
                    <div class="card-body">
                      <h4 class="card-title" th:text="${freelancer.pnombre}+${freelancer.snombre}+${freelancer.papellido}+${freelancer.sapellido}" style="font-size: 20px;"></h4>
                      <p class="card-text" th:text="${freelancer.idcategoria}">Ingeniero en sistema</p>
                      <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
      
                      <a type="button" th:href="@{/perfil}" class="btn " >
                        Ver perfil
                      </a>
                    </div>
                </div>
              </div>

            


            </div><!-- Fin del row dentro del col-->
          
      </div>


    </div>

    </div>
  </div>


  <div class="container-fluid">
    <div class="row ">
      <div class="col-lg-12 footer">
        <a href="">Sobre nosotros</a>
        <a href="">Contactanos</a>
      </div>
    </div>

  </div>

  </main>


   
</body>

</html>
